@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	--dark: hsl(229, 25%, 31%);
}

html,
body,
#root {
	height: 100%;
	overflow: hidden;
}

body {
	color: #ffffff;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

button {
	border-radius: 0.2rem;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	padding: 0.5rem 2rem;
}

.footer-btn {
	background: none;
	border: 1px solid;
	bottom: 5%;
	right: 5%;
	position: fixed;
	transition: 60ms ease-in;
}

.play-again-btn {
	color: var(--dark);
	background: #ffffff;
	transition: 60ms ease-in;
}

.footer-btn:hover,
.play-again-btn:hover {
	transform: scale(0.95);
}

.page-wrapper {
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: rgb(31, 55, 86);
	background: radial-gradient(circle, rgba(31, 55, 86, 1) 0%, rgba(20, 21, 57, 1) 100%);
}

.header-wrapper {
	align-items: center;
	border: 1px solid hsl(217, 16%, 45%);
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 1rem;
	width: 40%;
}

.score-wrapper {
	align-items: center;
	background: #ffffff;
	border-radius: 1rem;
	color: var(--dark);
	display: flex;
	flex-direction: column;
	height: 80%;
	justify-content: space-around;
	width: 35%;
}

.option-wrapper {
	height: 20em;
	position: relative;
	width: 20em;
}

.result-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
}

.result-sub-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 1rem;
}

.choice-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.option {
	cursor: pointer;
	left: 30%;
	position: absolute;
	top: 50%;
}

.icon-wrapper {
	align-items: center;
	border: 1em solid;
	border-radius: 50%;
	background: #ffffff;
	display: flex;
	height: 6rem;
	justify-content: center;
	padding: 3rem;
	width: 6rem;
}

.result-icon {
	border: 1.5em solid;
	height: 12rem;
	width: 12rem;
}

/* 12em = half the width of the wrapper */
.deg18 {
	transform: rotate(18deg) translate(10em) rotate(-18deg);
}
.deg90 {
	transform: rotate(90deg) translate(10em) rotate(-90deg);
}
.deg162 {
	transform: rotate(162deg) translate(10em) rotate(-162deg);
}
.deg234 {
	transform: rotate(234deg) translate(10em) rotate(-234deg);
}
.deg306 {
	transform: rotate(306deg) translate(10em) rotate(-306deg);
}

.border-color-Rock {
	border-color: hsl(349, 70%, 56%);
}
.border-color-Paper {
	border-color: hsl(230, 89%, 65%);
}

.border-color-Scissors {
	border-color: hsl(40, 84%, 53%);
}

.border-color-Lizard {
	border-color: hsl(261, 72%, 63%);
}

.border-color-Spock {
	border-color: hsl(189, 58%, 57%);
}

.blue {
	color: hsl(229, 64%, 46%);
}

.large {
	font-size: 3rem;
}

.small-bottom-margin {
	margin-bottom: 1rem;
}
