* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
}

.option-wrapper {
	height: 24em;
	position: relative;
	width: 24em;
}

.option {
	left: 50%;
	position: absolute;
	top: 50%;
}

/* 12em = half the width of the wrapper */
.deg18 {
	transform: rotate(18deg) translate(12em) rotate(-18deg);
}
.deg90 {
	transform: rotate(90deg) translate(12em) rotate(-90deg);
}
.deg162 {
	transform: rotate(162deg) translate(12em) rotate(-162deg);
}
.deg234 {
	transform: rotate(234deg) translate(12em) rotate(-234deg);
}
.deg306 {
	transform: rotate(306deg) translate(12em) rotate(-306deg);
}
